.title
{
    text-align: center;
    font-weight: 800;
}
.day30
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0px;
    top: 20px;
    width: 70px;
    height: 30px;
    background-color: rgb(155, 204, 186);
    z-index: 999;
}