.tabBg
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tabIn
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100px;
}