@import '~antd/dist/antd.css';
.navLink
{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position:fixed;
  bottom: 0;
  background-color: cadetblue;
  border-top:2px solid blanchedalmond;
  z-index: 999;
}
.defaultStyle
{
  text-decoration: none;
  color:rgb(30, 3, 54);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.defaultStyle:hover
{
  background-color: brown;
}
.author{
  width: 100%;
  height: 70px;
  margin-bottom: 50px;
  text-align: center;
  color: rgb(30, 3, 54);
  background-color: rosybrown;
}