.news1
{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    display: block;
    text-indent: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.news1 ::after{
    content: "...";
}
.innerSpan
{
    font-size: 18px;
    font-weight: 500;
}
.activeStyle1
{
    display: none;
}